html {
	margin:0;
	height:100%;
}

body{
	margin:0;
	font-family:Arial;
	font-size:20px;
	background-image:url("images/spaceMarine.jpg");
}

#wrapper {
	position:relative;
	width:960px;
	height:800px;
	padding:10px;
	background-color:#999998;
	margin:auto; /* margin auto centers to the box */
}

#header{
		position:relative;
		width:900px;
		height:70px;
		padding:30px;
		background-image:url("images/starwars.jpg");
		color:white;
}

#nav{
	position:absolute;
	width: 300px;
	height:40px;
	/*  positioning the nav with margins */
	margin-left:600px;
	margin-top:15px;
	border:5px solid blue;
}

/* Button Styles */
.btn{
	float:left;
	width:100px;
	height:40px;
	color:white;
	text-decoration:none;
	text-align:center;
	line-height:40px;
}

.btn:hover {
	background-color:blue;
}

#name{
	position:absolute;
	margin-top:-45px;
	width:500px;
	height:100px;
	line-height:160px;
}

.lastname{
	color:white;
}
/* Content Style */

#content-container{
	float:right;
	width:940px;
	min-height:250px;
	padding:10px;
	background-color:#F5F5DC;
	margin:10px 0;
}


#footer{
	clear: both;
	position:relative;
	width:940px;
	height:90px;
	background-color:black;
	color:white;
	font-size:10px;
	padding:0 10px;
}

nav{
	float:left;
	width:960px;
	height:40px;
	background-color:#333333;
	margin-bottom:5px;
}
.article{
	float:left;
	font-family:Arial;
	font-size:18px;
	padding:10px;

}
.article2{
	float:left;
	font-family:Arial;
	font-size:18px;
	padding:10px;

}
.article-title{
	float:left;
	width:100%;
	color:Black;
	border-bottom:2px solid black;
}
.article img{
	float:right;
	margin-right:20px;
	margin-left:20px;
	margin-bottom:20px;
}
.article2 img{
	float:left;
	margin-right:20px;
	margin-left:20px;
	margin-bottom:20px;
}
.login{
	float:right;
}
